[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-arm"]
	path = meta-arm
	url = git://git.yoctoproject.org/meta-arm
[submodule "meta-lts-mixins"]
	path = meta-lts-mixins
	url = git://git.yoctoproject.org/meta-lts-mixins
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
